{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}" class="home-btn">Home</a>
        <a href="{% url 'about' %}" class="home-btn">About Us</a> 
        <a href="{% url 'garden' %}" class="home-btn">Virtual Garden</a> 
        <a href="{% url 'habit_tracker' %}" class="home-btn">Track Habits</a>
        <a href="{% url 'leaderboard' %}" class="home-btn">Leaderboard</a> 
        <a href="{% url 'map' %}" class="home-btn">Map</a> 
      </div>

    <div class="leaderboard">
        <h2>Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player's Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user_score in user_scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user_score.user.username }}</td>
                    <td>{{ user_score.score }}</td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
</body>
</html>
