<!--Author Iona Cessford-->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Habit Tracker</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/habit.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
<body>
<h1>Habit Tracker</h1>
<div class="home-btn-container">
    <a href="{% url 'home' %}" class="home-btn">Home</a>
    <a href="{% url 'about' %}" class="home-btn">About Us</a> 
    <a href="{% url 'garden' %}" class="home-btn">Virtual Garden</a> 
    <a href="{% url 'habit_tracker' %}" class="home-btn">Track Habits</a>
    <a href="{% url 'leaderboard' %}" class="home-btn">Leaderboard</a> 
    <a href="{% url 'map' %}" class="home-btn">Map</a> 
</div>
<!--Stops the user from submitting more than once per day-->
{% if form_submitted %}
<div class="submitted-form">
    <p>Form already submitted. Please come back tomorrow!</p>
    <p>Your current score: {{ score }}</p>
</div>
{% else %}
    <form method="post" class="form-container">
        <!--Habits List-->
        {% csrf_token %}
        <fieldset>
            <legend>Daily Tasks</legend>
            <div class="form-group">
                <input type="checkbox" name="walk" id="walk">
                <label for="walk">Walked instead of driving</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="plastic" id="plastic">
                <label for="plastic">Did not use single use plastics (Disposable cutleries, Plastic Bottles)</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="water_bottle" id="water_bottle">
                <label for="water_bottle">Used a reusable water bottle instead of buying bottled water:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="utensils" id="utensils">
                <label for="utensils">Used reusable utensils (fork, spoon, knife):</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="short_trips" id="short_trips">
                <label for="short_trips">Choose walking, biking, or electric scooters for short trips instead of driving:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="plant_based_meals" id="plant_based_meals">
                <label for="plant_based_meals">Ate plant-based meals or went completely meatless:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="unplug_electronics" id="unplug_electronics">
                <label for="unplug_electronics">Unplugged electronics and appliances when not in use to conserve energy:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="natural_light" id="natural_light">
                <label for="natural_light">Utilized natural light during the day:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="community_cleanups" id="community_cleanups">
                <label for="community_cleanups">Participated in or organized community cleanups to remove litter and debris:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="reduce_food_waste" id="reduce_food_waste">
                <label for="reduce_food_waste">Reduced food waste by planning meals, composting organic waste, and donating excess food:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="public_transportation" id="public_transportation">
                <label for="public_transportation">Used public transportation or carpooling instead of driving alone:</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="turn_off_lights" id="turn_off_lights">
                <label for="turn_off_lights">Turned off lights and appliances when leaving a room to save energy:</label>
            </div>
        </fieldset>
            <div class="center">
                <input type="submit" class="submit-btn" value="Submit now">
                <input type="reset" class="reset-btn" value="Clear form">
            </div>
    </form>
{% endif %}
</body>
</html>
