/* Author: Nur Deeni */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  overflow: hidden;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover; /* Zoom out the background image by 10% */
  font-family: "Pixelify Sans", sans-serif;
}


h1{
  text-align: left; 
  font-weight: 200;
  font-size: 80px;
  /* border: solid black;
  background-color: rgb(255, 249, 142); */
  font-family: "Pixelify Sans", sans-serif;
  white-space: nowrap;
  position: absolute;
  top: 10%; 
  left: 20%;
}

h1 span {
  display: block;
  font-size: 40px;
}


.holder{
  width: 600px;
  margin: 0px auto;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  width: 150px;
  background: #eee;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 18px;
  cursor: move;
}

img:not([id^="pot-image"]) {
  width: 100px; 
  height: auto; 
}


*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, 0.5);
}

li a:hover:after {
  content: ' (drag me)';
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 10px; /* Add some spacing between items */
}


li.over {
  border-color: #333;
  background: #ccc;
}
#bin {
  display: flex;
}

.small-square {
  width: 150px;
  height: 150px;
  /* border: 1px solid #000; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#square1 {
  top: 150px;
  left: 200px;
}

#pot-image-square1 {
  position: absolute;  
  top: 39%;
  left: 230px;
  width: 200px; 
  height: 200px;
}

#square2 {
  top: 150px;
  left: 400px;
}

#pot-image-square2 {
  position: absolute;  
  top: 39%;
  left: 430px;
  width: 200px; 
  height: 200px;
}

#square3 {
  top: 150px;
  left: 600px;
}

#pot-image-square3 {
  position: absolute;  
  top: 39%;
  left: 630px;
  width: 200px; 
  height: 200px;
}

#square4 {
  top: 355px;
  left: 200px;
}

#pot-image-square4 {
  position: absolute;  
  top: 39%;
  left: 830px;
  width: 200px; 
  height: 200px;
}

#square5 {
  top: 355px;
  left: 400px;
}

#pot-image-square5 {
  position: absolute;  
  top: 39%;
  left: 25px;
  width: 200px; 
  height: 200px;
}

#square6 {
  top: 355px;
  left: 600px;
}

#pot-image-square6 {
  position: absolute;  
  top: 67%;
  left: 25px;
  width: 200px; 
  height: 200px;
}

#square7 {
  top: 150px;
  left: 800px;
}

#pot-image-square7 {
  position: absolute;  
  top: 67%;
  left: 230px;
  width: 200px; 
  height: 200px;
}

#square8 {
  top: 355px;
  left: 800px;
}

#pot-image-square8 {
  position: absolute;  
  top: 67%;
  left: 430px;
  width: 200px; 
  height: 200px;
}

#square9 {
  top: 150px;
  left: 0px;
}

#pot-image-square9 {
  position: absolute;  
  top: 67%;
  left: 630px;
  width: 200px; 
  height: 200px;
}

#square10 {
  top: 355px;
  left: 0px;
}

#pot-image-square10 {
  position: absolute;  
  top: 67%;
  left: 830px;
  width: 200px; 
  height: 200px;
}

#draggable-container {
  position: fixed;
  bottom: 50px; 
  left: 5%; 
  transform: translateX(-50%);
}

#bin img {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  /* margin: 5px; Add some spacing between images */
  cursor: pointer;
}

.learn {
  font-size: large;
  margin-top: 470px;
  margin-left: 310px;
  background-color: rgb(255, 249, 142);
  width: 270px;
}

#beeemotions {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #FFFFCC;
  height: 600px;
  padding: 5px;
  box-sizing: border-box;
  border: 8px solid rgb(84, 60, 40); /* Adding the pixelated border directly to #beeemotions */
  clip-path: polygon(
    0px 16px,
    16px 16px,
    16px 0px,
    calc(100% - 16px) 0px,
    calc(100% - 16px) 16px,
    100% 16px,
    100% calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) 100%,
    16px 100%,
    16px calc(100% - 16px),
    0 calc(100% - 16px)
  );
  display: flex; /* Add flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

#beeemotions img {
  width: 400px !important;
  height: 400px !important;
}

#beeemotions h2,
#beeemotions h3 {
  margin: 0; /* Remove default margin */
  text-align: center; /* Center text */
}

#userScore {
  text-align: center;
  margin-bottom: 20px;
}

.health-bar {
  width: 350px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 15px; 
  position: relative;
  margin: 0px auto;
  overflow: hidden; 
}

.health {
  height: 100%;
  background-color: #4CAF50;
  width: 100%;
  transition: width 0.3s ease-in-out;
  border-radius: 14px;
}

.heart {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 20px;
}

.pet-bar {  
  width: 350px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 15px; 
  position: relative;
  margin: 20px auto;
  overflow: hidden; 
}

.pet {
  height: 100%;
  background-color: #b32560;
  width: 100%;
  transition: width 0.3s ease-in-out;
  border-radius: 14px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 0px; 
  left: 20px; 
  width: calc(100% - 100px); 
  height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.home-btn {
  font-size: 1.0em; 
  font-family: "Pixelify Sans", sans-serif;
  width: 150px; 
  padding: 8px 20px;
  height: auto;
  text-decoration: none;
  background: #06C1DE;
  border: 0px;
  position: relative;
  box-shadow: 
    inset -4px 2px 1px 1px grey,
    inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin: 10px;
}


.home-btn:not(:last-child) {
  margin-right: 10px;
}

.home-btn:hover {
  cursor: pointer;
	background-color: #06B6D1;
}

.home-btn:active {
  top: 5px;
  box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}

.home-btn::after {
  content: '';
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.home-btn::before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

@keyframes floatBee {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.steve {
  animation: floatBee 3s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: rotateZ(-5deg) translateY(-1px);
  }
  50% {
    transform: rotateZ(5deg) translateY(1px);
  }
  100% {
    transform: rotateZ(-5deg) translateY(-1px);
  }
}


.seed {
  animation: sway 7s ease-in-out infinite alternate;
}

@keyframes flower-sway {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.small-square {
  animation: flower-sway 6s ease-in-out infinite alternate;
}

.square-container {
  position: relative;
  display: inline-block;
}