/* Author: Pawarisa Saiyut */

body {
    margin: 0;
    padding: 0;
    /* background-image: url('actual_background_to_be_added.jpg');  */
    background-size: cover;
    background-position: center;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.leaderboard {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.leaderboard h2 {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* .home-btn-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px; 
    z-index: 1000; 
} */

.container {
    position: absolute;
    top: 0px; 
    left: 20px; 
    width: calc(100% - 100px); 
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  
  .home-btn {
    font-size: 1.0em; 
    font-family: "Pixelify Sans", sans-serif;
    width: 150px; 
    padding: 8px 20px;
    height: auto;
    text-decoration: none;
    background: #06C1DE;
    border: 0px;
    position: relative;
    box-shadow: 
      inset -4px 2px 1px 1px grey,
      inset -4px -2px 1px 1px lightgray,
      inset 4px 0px 1px 1px lightgray;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin: 10px;
  }
  
  .home-btn:not(:last-child) {
    margin-right: 10px;
  }
  
  .home-btn:hover {
    cursor: pointer;
      background-color: #06B6D1;
  }
  
  .home-btn:active {
    top: 5px;
    box-shadow: 
      -4px 2px 1px 1px grey,
      -4px -2px 1px 1px lightgray,
      4px 0px 1px 1px lightgray; 
  }
  
  .home-btn::after {
    content: '';
    background: black;
    position: absolute;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: -1;
  }
  
  .home-btn::before {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 113%;
    z-index: -1;
  }

.leaderboard {
    margin-top: 50px; /* Add margin to separate the leaderboard from the buttons */
}
