.popup {
    width: 15%; 
    height: 50%;
    background-color: rgb(255, 249, 142); 
    border: black solid;   
    position: relative; 
    display: none;
}

.close {
    color: black;   
    position: absolute;
    left: 0;
    cursor: pointer;
}

.real-plant {
    height: 200px;
    width: 200px;
    border: black solid;
    margin-left: 60%;
    margin-right: 30%;
    margin-top: 5%;
}
