{% load static %}

<div class="holder">
  <h1>Virtual Garden</h1>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <div id="bin">
    <div class="small-square" id="square1"></div>
    <div class="small-square" id="square2"></div>
    <div class="small-square" id="square3"></div>
    <div class="small-square" id="square4"></div>
    <div class="small-square" id="square5"></div>
    <div class="small-square" id="square6"></div> 
  </div>
  <ul>
    <li id="draggable-container">
        <img draggable="true" src="{% static 'img/seeds.png' %}" id="one">
    </li>
  </ul>
</div>
<script src="{% static 'js/script.js' %}"></script>
