  <!-- Author: Nur Deeni and Saida Amirova -->

  {% load static %}

  <audio autoplay loop volume="0.2">
    <source src="{% static 'sound/default_music.wav' %}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/garden.css' %}">
  <link rel="stylesheet" href="{% static 'css/popup.css' %}">
  
    <a href="{% url 'home' %}" 
      class="home-btn"
    >
      <i class="fas fa-home" style="margin-right: 4px;"></i>
      Home
    </a>
    <a href="{% url 'habit_tracker' %}" 
      class="home-btn"
    >
      <i class="fas fa-home" style="margin-right: 4px;"></i>
      Track Habits
    </a>
    <a href="{% url 'leaderboard' %}" 
      class="home-btn"
    >
      <i class="fas fa-list-ol" style="margin-right: 4px;"></i>
      Leaderboard
    </a>

    <script>
      var userId = "{{ user.id }}"; 
    </script>

  <div class="holder">
    <h1>Virtual Garden</h1>
    <div id="bin">
        <div class="small-square" id="square1"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square1" class="pot-image">
        <div class="small-square" id="square2"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square2" class="pot-image">
        <div class="small-square" id="square3"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square3" class="pot-image">
        <div class="small-square" id="square4"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square4" class="pot-image">
        <div class="small-square" id="square5"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square5" class="pot-image">
        <div class="small-square" id="square6"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square6" class="pot-image">
        <div class="small-square" id="square7"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square7" class="pot-image">
        <div class="small-square" id="square8"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square8" class="pot-image">
        <div class="small-square" id="square9"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square9" class="pot-image">
        <div class="small-square" id="square10"></div>
        <img src="{% static 'img/pot.png' %}" alt="Pot" id="pot-image-square10" class="pot-image">
    </div>
    <ul>
        <li id="draggable-container">
            <img draggable="true" src="{% static 'img/seeds/betony_seed.png' %}" data-seedType="betony" class="seed">
            <img draggable="true" src="{% static 'img/seeds/chamomile_seed.png' %}" data-seedType="chamomile" class="seed">
            <img draggable="true" src="{% static 'img/seeds/hops_seed.png' %}" data-seedType="hops" class="seed">
            <img draggable="true" src="{% static 'img/seeds/lavender_seed.png' %}" data-seedType="lavender" class="seed">
            <img draggable="true" src="{% static 'img/seeds/passion_seed.png' %}" data-seedType="passion" class="seed">
            <img draggable="true" src="{% static 'img/seeds/skullcap_seed.png' %}" data-seedType="skullcap" class="seed">
            <img draggable="true" src="{% static 'img/seeds/stjohn_seed.png' %}" data-seedType="stjohn" class="seed">
            <img draggable="true" src="{% static 'img/seeds/valerian_seed.png' %}" data-seedType="valerian" class="seed">
            <img draggable="true" src="{% static 'img/seeds/vervain_seed.png' %}" data-seedType="vervain" class="seed">
            <img draggable="true" src="{% static 'img/seeds/viper_seed.png' %}" data-seedType="viper" class="seed">
        </li>
    </ul>
</div>

  <div id="beeemotions" class="pixel-box">
      <div class="content">
        <h2>Meet Steve!</h2>
        <h3>Click on the bee to pet it! </h3>
        <img src="{% static 'img/mehbee.png' %}" alt="mehbee" id="beeImage">
        <div class="health-bar">
            <div id="health" class="health"></div>
            <span class="heart">❤</span>
        </div>
        <div class="pet-bar">
          <div id="pet" class="pet"></div>
          <span class="icon">😊</span>
      </div>
        <p id="userScore">Today's Score: <span id="scoreValue">{{ today_score }}</span></p>
      </div>
      <script>
        var happyImagePath = "{% static 'img/happybee.png' %}";
        var sadImagePath = "{% static 'img/sadbee.png' %}";
        var mehImagePath = "{% static 'img/mehbee.png' %}";
        var petImagePath = "{% static 'img/petbee.png' %}";

        function updateHealthBar(today_score) {
            const healthBar = document.getElementById('health');
            healthBar.style.width = today_score + '%';
        }

        // Call the updateHealthBar function with the initial score
        updateHealthBar({{ today_score }});
      </script>
      <script src="{% static 'js/beeemotions.js' %}"></script>
      <script>
        // Call the emotion function from beeemotions.js
        emotion({{ today_score }});
      </script>
      </div>
    </div>

    <div class="popup">
      <div id="closeButton" onclick="closePopup()">&times;</div>
      <div id="flowerInfo"></div>
      <img id="flowerPopupImages" class="real-plant" src="" alt="flower">
    </div>    

  <script src="{% static 'js/plant.js' %}"></script>