<!-- Author: Aisha Farouk -->

{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

{% load static %}

<main class="bg-about">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'img/logo.svg' %}" alt="My Logo" height="30" width="30">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" aria-current="page">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link active" href="{% url 'about' %}">About Us</a>
              </li>
            </ul>
              {% if user.is_authenticated %}
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" aria-current="page">
                    <a class="nav-link" href="{% url 'garden' %}">Virtual Garden</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'habit_tracker' %}">Track Habits</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'map' %}">Map</a>
                  </li>
                </ul>
                <form action="{% url 'logout' %}" method="post">
                  <span>Hi {{ user.username }}!</span>
                  {% csrf_token %}
                  <button
                    class="btn btn-sm btn-secondary" 
                    type="submit"
                    style="margin-left: 10px;"
                  >
                    <i class="fas fa-sign-out-alt" style="margin-right: 4px;"></i>
                    Logout
                  </button>
                </form>
              {% else %}
                <span>You are not logged in</span>
                <a href="{% url 'login' %}" 
                  role="button" 
                  class="btn btn-sm btn-secondary"
                  style="margin-left: 10px;"
                >
                  <i class="fas fa-sign-in-alt" style="margin-right: 4px;"></i>
                  Login
                </a>
              {% endif %} 
            </div>
  <div class="container mt-5">
    <h1 class="text-center mb-4">About Us</h1>
    <p class="lead text-center">Shaping the future of the climate, one campus at a time</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="{% static 'img/bee.jpg' %}" style="width: 100%;height: 300px; object-fit: cover;"
            class="card-img-top" alt="Image 1">
          <div class="card-body">
            <p class="card-text">Bees are crucial pollinators, transferring pollen between plants for reproduction,
              essential for food production. Without them, ecosystems would suffer and food production would decline.
            </p>
            <p class="card-text"></p>Now come along, steve the bee is going to be showing us the significance of
            his community to the world at large!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="{% static 'img/exeter-garden.jpeg' %}" style="width: 100%;height: 300px; object-fit: cover;"
            class="card-img-top" alt="Image 2">
          <div class="card-body">
            <p class="card-text">The University of Exeter Botanic Garden, located on Streatham Campus, houses an
              18-acre collection of plants, including rare and endangered species. It serves as a research facility and
              recreational space for students, staff, and the local community. </p>
            <p class="card-text">The game uses flowers from the garden to translate culture and demonstrate
              environmental efforts, aiming to showcase the university's commitment to sustainability.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="{% static 'img/enviroment.avif' %}" style="width: 100%;height: 300px; object-fit: cover;"
            class="card-img-top" alt="Image 3">
          <div class="card-body">
            <p>Being climate-friendly starts with a mindset and acts such as walking to your
              campus daily instead of taking a bus or using disposable utensils instead of plastic ones, as it affects
              air
              quality through industrialism. </p>
            <p class="card-text">With the help of habit trackers, we hope that players will become immersed in
              the game and make it a daily ritual to complete the chores and play.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<style>
  .bg-about {
    background: linear-gradient(to bottom, #1E90FF, #FFD700);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    position: relative;
    height: 100%;
    padding-bottom: 100px;
  }
</style>
{% endblock %}