{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}
<body class="bg-home">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.svg' %}" alt="My Logo" height="30" width="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active" aria-current="page">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
        </ul>
        <div class="d-flex">
          {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              <span>Hi {{ user.username }}!</span>
              {% csrf_token %}
              <button
                class="btn btn-sm btn-secondary" 
                type="submit"
                style="margin-left: 10px;"
              >
                <i class="fas fa-sign-out-alt" style="margin-right: 4px;"></i>
                Logout
              </button>
            </form>
          {% else %}
            <span>You are not logged in</span>
            <a href="{% url 'login' %}" 
              role="button" 
              class="btn btn-sm btn-secondary"
              style="margin-left: 10px;"
            >
              <i class="fas fa-sign-in-alt" style="margin-right: 4px;"></i>
              Login
            </a>
          {% endif %} 
        </div>
      </div>
    </div>
  </nav>
  <!-- <video autoplay muted loop id="myVideo">
    <source src="{% static 'video/bee.mp4' %}" type="video/mp4">
  </video>
  <div class="content">
    <h1>Welcome to Gardenbee</h1>
    <p>Lorem ipsum...</p>
  </div> -->

  <section class="section-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 d-md-none">
          <h1 class="display-2 font-weight-bold mb-0">We<span class="font-weight-bold"> safeguard </span>the environment.
          </h1>
        </div>
        <div class="col-8 col-md-7 col-lg-6 order-lg-1">
          <h1 class="display-2 font-weight-bold d-none d-md-inline">We<span class="font-weight-bold"> safeguard </span>the
            environment.</h1>
          <p class="lead text-muted mt-4">Over the past several decades, as the world has<br
              class="d-none d-lg-inline">increasingly warmed, so has its potential to burn.</p>
        </div>
        <div class="col-4 col-md-5 col-lg-6 order-lg-2"> <img src="{% static 'img/forest.svg' %}" class="img-fluid mb-lg-6 mb-0"
            alt="Forest Illustration"></div>
      </div>
    </div>
  </section>
</body>
<style>
  .bg-home {
    /* Gradient for the sky */
    background: linear-gradient(to bottom, #1E90FF, #FFD700);
    background-color: #1E90FF;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    position: relative;
  }

</style>
{% endblock %}