{% extends "base.html" %} 

{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'land.css' %}">
    </style>
{% endblock %}

{% block content %}

<div class="main">

    <h1 class="welcome-header">Welcome to the Bee Garden!</h1>

    <div class="welcome-container">
        <ul class="buttons">
            <div style="height: 20px;"></div>
            <li class="log-in"><a href="#" class="btn btn-light btn-lg">Log in</a></li>
            <div style="height: 20px;"></div> 
            <li class="sign-up"><a href="#" class="btn btn-light btn-lg">Sign up</a></li>
            <!-- <div style="height: 20px;"></div> 
            <li class="play-button"><a href="#" class="btn btn-light btn-lg">Play</a></li> -->
            <!-- <div style="height: 20px;"></div> -->
            
        </ul>

    </div>

    <!-- <div class="bee">
        <img src="{% static 'images/bee-minecraft.gif' %}" alt="Animated GIF" width="150" height="auto">
    </div> -->


    <div class="bee bee-top-left">
        <img src="{% static 'images/bee-minecraft.gif' %}" alt="Animated GIF">
    </div>
    
    <div class="bee bee-top-right">
        <img src="{% static 'images/bee-minecraft.gif' %}" alt="Animated GIF">
    </div>
    
    <div class="bee bee-bottom-left">
        <img src="{% static 'images/bee-minecraft.gif' %}" alt="Animated GIF">
    </div>
    
    <div class="bee bee-bottom-right">
        <img src="{% static 'images/bee-minecraft.gif' %}" alt="Animated GIF">
    </div>
    

</div>

{% endblock %}