<!-- Author Iona Cessford -->
{% load static%}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <title>Admin Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <script src="{% static 'js/plant.js' %}"></script>
</head>
<body>
    <h1>User request Administration Page </h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Display habit forms -->
    {% if habit_forms %}
    <form action="{% url 'adminpage' %}" method="post">
        {% csrf_token %}
        {% for form in habit_forms %}
        <fieldset>
            <p>User {{ form.request.user.username }} has completed {{ form.habits_completed }} habits.</p>
            <!-- Display approve checkbox only for forms with at least 4 completed habits -->
            {% if form.habits_completed >= 4 %}
                <input type="checkbox" name="request_ids" value="{{ form.request.id }}" id="request_{{ forloop.counter }}">
                <label for="request_{{ forloop.counter }}">Accept their request?</label>
            {% else %}
                <p>This request does not meet the criteria for approval.</p>
            {% endif %}
        </fieldset>
        {% endfor %}
        <input type="submit" value="Submit now">
    </form>
    {% else %}
    <p>There are no pending requests at the moment.</p>
    {% endif %}
</body>
</html>